
/* font 1: inter */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font 2: raleway */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 30px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.button-primary{
    background-color: #4E47FF;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px;
}
