
/* font 1: inter */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* font 2: raleway */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Nav Styles */
header{
    background-image: url("/Assets/Hero-bg.png");
    background-repeat: no-repeat;
    max-width: 1440px;
    min-height: 698px;
   margin-bottom: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 30px;
}

.text-blue-color{
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.button-primary{
    background-color: #4E47FF;
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.banner-content{
    text-align: center;
    font-size: 65px;
    margin-bottom: 37px;
    margin-top: 158px;
}
.button-banner-page{
    text-align: center;
    border: none;
    margin-bottom: 30px;

}

/* main section styles */

/* see it in action styles */

body{
    background-color: #F5F8FF;
}
.see-it-in-action-section{
display: flex;
border-radius: 10px;
justify-content: space-between;
max-width: 1140px;
min-height: 328px;
align-self: center;
padding: 300 160px;
margin: 3000 50px;

}

.action-image{
   border-radius: 48px;

}

.action-texts{
    padding: 30px;
    margin-left: auto;
}

